.main-menu-v  {
    display: none;
  }
  

.git-menu-vertical{
  display: none ;
} 
.html{
  width: 23.9%;
  background-color: orangered;
}
.html-badge{
  background-color: orangered;
}
.css{
  width: 38.8%;
  background-color: #440d96;

}
.css-badge{
  background-color: #440d96;
}
.js{
  width: 35.8%;
  background-color: yellow;
}
.js-badge{
  background-color: yellow;
}
.others{
  width: 1.5%;
  background-color: grey;
}
.unhide{
  display: flex !important;
}

.current_tab{
    border-top: 2px solid orangered !important;
}
.info-bar, .git-menu, .table-head{
  margin-left: 3% !important;
  padding-left: 0;
  padding-right: 1% !important; 
}
.info-bar{
  width: 96.5% !important;
}
.table-head{
  width: 96.5% !important;
}
.colour-info{
  display: none;
}
.btn-text{
  font-size: 14px;
}
.info-row, .colour-info{
  border-color: silver !important;
}
.find-btn{
  margin-right: 5px !important;
}
.filter-branches-menu{
  min-width: 14rem !important;
}
.https-ssh-menu{
  min-width: 21rem !important;

}
@media screen and (max-width: 1200px) {
  .infobtn1{
    width: 30% !important;
  }
}

@media screen and (max-width: 996px) {
  .tab-icon  {display: none;}
}

  @media screen and (max-width: 900px) {
    .main-menu-h  {display: none;}
    .main-menu-v   {
      display: block;

    }
  }

  @media screen and (max-width: 775px) {
    .options{
      display: block !important;
      float: right !important;
    }
    .tab-badge{
      display: none;
    }
    .info-icons{
      display: none !important;
    }

  }

  @media screen and (max-width: 675px) {
    .section-tag-button  {
      padding: 1%;
    }
    .infobtn{
      padding: 1% !important;
      width: auto !important;
    }
    .git-menu-vertical{
      display: block;
    }
    .git-menu-horizontal{
      display: none;
    }
  }

  @media screen and (max-width: 598px) {
    .tab-icon  {
      display: none;
    }
    .right, .left{
      padding: 0 !important;
    }
    .left{
      margin: 1px !important;
    }
    .find-btn{
      padding: 1% !important;

    }

  }

  @media screen and (max-width: 555px) {
    .icon-name{
      display: none !important;
    }
    .icon-btn{
        padding: 3px !important;
        margin-right: 0px !important;
    }
    .menu-section{
        padding-left:0px !important;
    }
    .internal-navigator, .internal-navigator-container{
        padding-left:0px !important;
        margin-left: 0px !important;
        margin-top: 10px;
    }
    .section-tags{
      padding: 0% !important;
    }
    .section-row{
      padding: 0% !important;
    }
    .info-bar, .info-row{
      padding: 0% !important;

    }
    .git-menu{
      margin-left: 2% !important;
    }
    .info-row, .colours, .info-bar, .table-head{
      margin : 1%  !important;

    }
    .table-head{
      width: 98% !important;
    }
    .alert{
      margin-left: 2.5% !important;
      font-size: 14px;
    }
    .tag-container{
      padding-left: 0% !important;
    }
    .clone-btn{
      margin-right: 1% !important;
      padding-right: 1% !important;
    }
  }
