.main-menu-v  {
    display: none;
  }
  
.current_tab{
    border-top: 2px solid orangered !important;
}
.info-bar{
  margin-left: 3% !important;
  padding-left: 0;
  padding-right: 4% !important; 
}
.btn-text{
  font-size: 14px;
}
.info-row{
  border-bottom: 5px solid gray !important;
}
.find-btn{
  margin-right: 5px !important;
}
@media screen and (max-width: 1200px) {
  .infobtn1{
    width: 30% !important;
  }
}

@media screen and (max-width: 996px) {
  .tab-icon  {display: none;}
}

  @media screen and (max-width: 900px) {
    .main-menu-h  {display: none;}
    .main-menu-v   {
      display: block;

    }
  }

  @media screen and (max-width: 775px) {
    .options{
      display: block !important;
      float: right !important;
    }
    .tab-badge{
      display: none;
    }
    .info-icons{
      display: none !important;
    }

  }

  @media screen and (max-width: 675px) {
    .section-tag-button  {
      padding: 1%;
    }
    .infobtn{
      padding: 1% !important;
      width: auto !important;
    }
  }

  @media screen and (max-width: 598px) {
    .tab-icon  {
      display: none;
    }
    .right, .left{
      padding: 0 !important;
    }
    .left{
      margin: 1px !important;
    }
    .find-btn{
      padding: 1% !important;

    }

  }

  @media screen and (max-width: 555px) {
    .icon-name{
      display: none !important;
    }
    .icon-btn{
        padding: 3px !important;
        margin-right: 0px !important;
    }
    .menu-section{
        padding-left:0px !important;
    }
    .internal-navigator, .internal-navigator-container{
        padding-left:0px !important;
        margin-left: 0px !important;
        margin-top: 10px;
    }
    .section-tags{
      padding: 0% !important;
    }
    .section-row{
      padding: 0% !important;
    }
    .info-bar, .info-row{
      padding: 0% !important;

    }
    .info-row{
      margin : 0.1%;
      margin-right: 5%;
    }
    .alert{
      margin-left: 2.5% !important;
      margin-right: 0px !important;
      font-size: 14px;
    }
    .tag-container{
      padding-left: 0% !important;
    }
    .branch-btn, .pr-btn{
      padding-left: 1% !important;
      padding-right: 1% !important; 
    }
  }
